<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillSync Platform - Messages</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .message-box {
            background-color: #2d3748;
            border-radius: 8px;
            padding: 16px;
            margin-bottom: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }

        .message-box:hover {
            background-color: #4a5568;
        }

        .username {
            font-weight: bold;
            color: #63b3ed;
            word-wrap: break-word;
        }
    </style>
</head>

<body class="bg-zinc-900 text-white p-8">

    <div class="absolute top-4 left-4">
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            <a href="javascript:history.back()">Back</a>
        </button>
    </div> 

    
    
    <section class="mt-12 ">
        <h2 class="text-3xl font-semibold mb-8 text-center">Your Messages</h2>

        <% if(data.length>0) {%>
        <% data.forEach(item=>{%>
        <div class="message-box flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <h1 class="message-sender text-xl sm:text-2xl mb-4 sm:mb-0 break-words">UserID: <span class="username"><%= item.to %></span></h1>
            <div class="message-actions flex gap-4 mt-2 sm:mt-0">
                <button class="btn btn-show bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    <a href="text/<%= item.to %>">Show Conversation</a>
                </button>
                <button class="btn btn-delete bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                    <a href="delete/<%= item.to %>">Delete</a>
                </button>
            </div>
        </div>
         <% })%>
        <% } %>
    </section>
</body>
</html>
